.body
{
    width: 80vw;
    min-height: 100vh;
    height: auto;
    margin: auto;
    background-color: white;
}
#form
{   border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 20px;
    margin-top: 13vh;
    width: 400px;
}
#btn
{
}
.a
{
    display: flex;
}

